In [1]:
import pandas as pd
import numpy as np

# 45k matches

In [3]:
uno = pd.read_csv("C:\\Users\\PCCOM\\Desktop\\TheBridge\\BB_CSV\\deffo\\df_matches.csv")

uno

,Unnamed: 0,match_id,replay_id,tournament_id,match_date,match_time,match_conceded,team1_id,team1_coach_id,team1_roster_id,...,cr_diff2,cr_diff2_bin,coach1_CR_bin,coach2_CR_bin,has_sp,division_id,division_name,league,ruleset,ruleset_version
0,0,4216259,1334297.0,0.0,2020-08-01,22:50:05,None,989053.0,254630.0,47.0,...,-9.67,"[-10,-5]",CR150,CR160,0,10,Blackbox,0,1,bb2016
1,1,4216260,1334305.0,0.0,2020-08-01,22:50:14,None,983323.0,245537.0,41.0,...,-20.51,"[-30,-20]",CR150,CR170,1,10,Blackbox,0,1,bb2016
2,2,4216261,1334304.0,0.0,2020-08-01,22:51:25,None,990875.0,254533.0,54.0,...,-9.99,"[-10,-5]",CR150,CR160,0,10,Blackbox,0,1,bb2016
3,3,4216262,1334313.0,0.0,2020-08-01,22:53:07,None,995283.0,235272.0,364.0,...,NaN,NaN,NaN,NaN,0,5,Secret League,10263,303,bb2016
4,4,4216263,1334291.0,51859.0,2020-08-01,22:58:57,None,993285.0,245668.0,3322.0,...,NaN,NaN,NaN,NaN,1,5,Online NAF Tournaments,9298,2310,mixed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170138,170138,4386466,1534254.0,0.0,2022-06-06,21:14:58,None,1080807.0,250982.0,4966.0,...,-6.34,"[-10,-5]",CR140,CR150,0,2,Competitive,0,4,bb2020
170139,170139,4386467,1534250.0,57758.0,2022-06-06,21:17:48,None,1079876.0,234393.0,5672.0,...,NaN,NaN,NaN,NaN,0,5,NaN,10393,2198,NaN
170140,170140,4386468,1534237.0,57746.0,2022-06-06,21:21:42,None,1043776.0,246710.0,4969.0,...,NaN,NaN,NaN,NaN,0,5,NaN,14793,2236,NaN
170141,170141,4386469,1534239.0,0.0,2022-06-06,21:25:02,None,1058769.0,229648.0,5735.0,...,NaN,NaN,NaN,NaN,0,5,SL BB2020,14708,2198,bb2020
170142,170142,4386470,1534248.0,57206.0,2022-06-06,21:25:33,None,1067038.0,234750.0,5142.0,...,NaN,NaN,NaN,NaN,1,5,NaN,14935,2053,NaN

In [22]:
moduno = uno.drop(["Unnamed: 0", "match_id", "replay_id", "tournament_id", "match_time", "team1_id", "team1_coach_id", "team1_roster_id", 
        "division_name", "league", "ruleset", "coach1_CR_bin", "coach2_CR_bin", "has_sp", "division_id", "cr_diff2", "cr_diff2_bin", 
        "team2_roster_id", "team2_id", "team2_coach_id", "team2_value", "team2_rush", "team1_block", "team2_block", "team1_foul", 
        "team2_foul", "coach1_CR", "coach2_CR", "CR_diff", "team1_value", "team1_cas_bh", "team1_cas_si", "team1_cas_rip", "team2_cas_bh", 
        "team2_cas_si", "team1_inducements", "team2_cas_rip", "week_date", "team2_inducements", "year", "week_year", "coach1_ranking", "coach2_ranking",
        "team1_comp", "team2_comp", "team1_pass", "team2_pass", "team1_rush", "mirror_match", "tv_match", "tv_bin", "tv_diff", "tv_diff2", "tv_bin2", "week_number"], axis=1)

In [27]:
moduno.ruleset_version.value_counts()

bb2016    81946
bb2020    45060
mixed      5816
Name: ruleset_version, dtype: int64

In [96]:
unofi = moduno.loc[moduno["ruleset_version"] == "bb2020"]

# matches

In [7]:
dos = pd.read_csv("C:\\Users\\PCCOM\\Desktop\\TheBridge\\BB_CSV\\deffo\\df_mbt.csv")

dos

,Unnamed: 0,match_id,match_date,week_number,year,week_year,week_date,team_id,ruleset,league,...,cr_diff2,games_played,tier_row_id,bb2020_tier,naf_tier,bb2020_nov21_tier,race_type,dk_atv_nosp,Europen_2020,Malta_2022
0,0,4216259,2020-08-01,31,2020,2020-31,2020-07-27,989053.0,1,0,...,-9.67,1,21.0,3.0,3.0,3.0,stunty,5.0,6.0,5.0
1,1,4216260,2020-08-01,31,2020,2020-31,2020-07-27,983323.0,1,0,...,-20.51,192,19.0,1.0,1.0,1.0,hybrid,1.0,1.0,2.0
2,2,4216261,2020-08-01,31,2020,2020-31,2020-07-27,990875.0,1,0,...,-9.99,4,11.0,1.0,1.0,1.0,hybrid,2.0,1.0,2.0
3,3,4216262,2020-08-01,31,2020,2020-31,2020-07-27,995283.0,303,10263,...,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4216263,2020-08-01,31,2020,2020-31,2020-07-27,993285.0,2310,9298,...,NaN,6,16.0,2.0,2.0,1.0,hybrid,1.0,5.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340281,340281,4386466,2022-06-06,23,2022,2022-23,2022-06-06,1077700.0,4,0,...,6.34,27,20.0,1.0,2.0,2.0,hybrid,3.0,2.0,4.0
340282,340282,4386467,2022-06-06,23,2022,2022-23,2022-06-06,1079907.0,2198,10393,...,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
340283,340283,4386468,2022-06-06,23,2022,2022-23,2022-06-06,1079145.0,2236,14793,...,NaN,1,3.0,2.0,2.0,2.0,hybrid,1.0,2.0,2.0
340284,340284,4386469,2022-06-06,23,2022,2022-23,2022-06-06,1080825.0,2198,14708,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
340285,340285,4386470,2022-06-06,23,2022,2022-23,2022-06-06,1053986.0,2053,14935,...,NaN,8,11.0,1.0,1.0,1.0,hybrid,2.0,1.0,2.0

In [83]:
modos = dos.drop(["Unnamed: 0", "match_id", "week_date", "week_number", "year", "week_year", "team_id", "ruleset", "league", "division_id", 
        "division_name", "coach_id", "team_value", "tv_diff", "tv_match", "away_coach_id", "cr_diff2", "tier_row_id", "bb2020_tier",
        "CR_diff", "has_sp", "tv_diff2", "home_comp", "home_pass", "away_team_value", "away_team_score", "home_rush", "home_block", "coach_CR", "away_coach_CR",
        "coach_CR_bin", "naf_tier", "bb2020_nov21_tier", "dk_atv_nosp", "home_cas_bh", "home_cas", "home_cas_si", "away_cas_bh", "away_cas_si", "away_cas_rip",
        "tv_bin", "tv_bin2", "mirror_match", "home_foul", "home_cas_rip", "away_pass", "away_comp", "away_rush", "away_block", "away_foul",
        "away_cas", "Europen_2020", "Malta_2022"], axis=1)

In [84]:
modos

,match_date,ruleset_version,race_name,team_score,wins,away_race_name,games_played,race_type
0,2020-08-01,bb2016,Goblin,0.0,0.0,Human,1,stunty
1,2020-08-01,bb2016,Amazon,0.0,0.0,Nurgle,192,hybrid
2,2020-08-01,bb2016,Norse,0.0,0.0,Necromantic Horror,4,hybrid
3,2020-08-01,bb2016,Daemons of Nurgle,0.0,0.0,Skink,6,NaN
4,2020-08-01,mixed,Underworld Denizens,0.0,0.0,Human,6,hybrid
...,...,...,...,...,...,...,...,...
340281,2022-06-06,bb2020,Old World Alliance,0.0,0.0,Lizardmen,27,hybrid
340282,2022-06-06,NaN,Half-Elf,2.0,1.0,Daemons of Nurgle,2,NaN
340283,2022-06-06,NaN,Necromantic Horror,2.0,1.0,Necromantic Horror,1,hybrid
340284,2022-06-06,bb2020,Snakemen,0.0,0.0,Mahrak,1,NaN
340285,2022-06-06,NaN,Norse,1.0,0.5,Chaos Dwarf,8,hybrid

In [86]:
dosfi = modos.loc[modos["ruleset_version"] == "bb2020"]

In [92]:
dosfi.columns = ['date', 'ruleset', 'race1', 'TDs for', 'win', 'race2', 'games', 'type']

In [98]:
unofi.columns = ['date', 'conceded', 'race1', 'race2', 'score1', 'score2', 'win1', 'win2', 'cas1', 'cas2', 'ruleset']

In [99]:
unofi.drop(["ruleset"], axis=1)

,date,conceded,race1,race2,score1,score2,win1,win2,cas1,cas2
154,2020-08-02,None,Old World Alliance,Chaos Dwarf,1.0,1.0,0.0,0.0,2.0,1.0
472,2020-08-03,None,Amazon,Necromantic Horror,1.0,2.0,-1.0,1.0,3.0,3.0
619,2020-08-03,None,Norse,Orc,1.0,1.0,0.0,0.0,0.0,2.0
701,2020-08-03,None,Amazon,Nurgle,0.0,1.0,-1.0,1.0,1.0,1.0
709,2020-08-03,None,High Elf,Skaven,3.0,2.0,1.0,-1.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...
170130,2022-06-06,None,Dwarf,Norse,0.0,2.0,-1.0,1.0,0.0,1.0
170136,2022-06-06,None,Chaos Renegade,Norse,2.0,1.0,1.0,-1.0,3.0,2.0
170137,2022-06-06,None,Human,Lizardmen,0.0,1.0,-1.0,1.0,0.0,3.0
170138,2022-06-06,None,Lizardmen,Old World Alliance,2.0,0.0,1.0,-1.0,2.0,0.0
170141,2022-06-06,None,Mahrak,Snakemen,1.0,0.0,1.0,-1.0,2.0,2.0

In [100]:
dosfi.drop(["ruleset"], axis=1)

,date,race1,TDs for,win,race2,games,type
154,2020-08-02,Old World Alliance,1.0,0.5,Chaos Dwarf,15,hybrid
472,2020-08-03,Amazon,1.0,0.0,Necromantic Horror,10,hybrid
619,2020-08-03,Norse,1.0,0.5,Orc,63,hybrid
701,2020-08-03,Amazon,0.0,0.0,Nurgle,16,hybrid
709,2020-08-03,High Elf,3.0,1.0,Skaven,69,agile
...,...,...,...,...,...,...,...
340273,2022-06-06,Norse,2.0,1.0,Dwarf,3,hybrid
340279,2022-06-06,Norse,1.0,0.0,Chaos Renegade,10,hybrid
340280,2022-06-06,Lizardmen,1.0,1.0,Human,9,hybrid
340281,2022-06-06,Old World Alliance,0.0,0.0,Lizardmen,27,hybrid
340284,2022-06-06,Snakemen,0.0,0.0,Mahrak,1,NaN